DATABASE_URL="postgresql+asyncpg://postgres:secret@localhost:5432/postgres"
REDIS_URL="redis://localhost:6379"
JWT_PRIVATE_KEY=<JWT_PRIVATE_KEY>
JWT_PUBLIC_KEY=<JWT_PUBLIC_KEY>
USER_JWT_ISS=<ISSUER>
USER_JWT_AUD=<AUDIENCE>
PRODUCTION="False"
BUILD=local